.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
    background-color: #1b1c1d;
}

.HomeSegment {
    width : 100%;
}

.FlipCard-container {
    border : 1px;
    border-radius : 5px;
    border-color: white;
    border-style: solid;
    width: 75%;
}

.FlipCard-grid {
    padding : 10px;
}

.react-card-front {
    position: relative;
}

.react-card-back {
    position : relative;
}

/* Flip CSS */
