/*
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body {
    padding-top: 90px;
    background:#F7F7F7;
    color:#666666;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}

body{
    width: 100%;
    background: -webkit-linear-gradient(left, #d61335, #d31264, #d622a7, #d31eae);
    background: linear-gradient(to right, #d324cd, #9e3ed3, #7238d6, #4924d3);
    background-size: 600% 100%;
    -webkit-animation: HeroBG 10s ease infinite;
    animation: HeroBG 10s ease infinite;
}*/

